<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogChamp 2.0</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <div class="title"><h1>BlogChamp 2.0</h1></div>

    <!-- setup for creating a new post -->
    <h2>Create a New Post</h2>
    <form action="/createPost" method="POST">
        <!-- get the title and the text content -->
        <input type="text" name="postTitle" placeholder="Title: " required>
        <textarea name="postContent" placeholder="Write your post: " required></textarea>
        <button type="submit">Submit</button>
    </form>

    <hr>

<!-- display all of the created posts on the main page -->

<!-- if there are multiple posts -->
    <% if (blogs.length > 0) { %>
        <% blogs.forEach(post => { %>
            <div>
                <h2 style="display:inline;"><%= post.title %> </h2>
                <h3 style="display:inline;">@<%= post.creator_name %></h3>
                <p style="font-size: 20px;"><%= post.body %></p>
                <p><%= post.date_created %></p>
                
                <% if (currentUser && currentUser.user_id === post.creator_user_id) { %>
                    <form action="/editPost/<%= post.blog_id %>" method="GET" style="display:inline;">
                        <button type="submit">Edit</button>
                    </form>
                    <form action="/deletePost" method="POST" style="display:inline;">
                        <input type="hidden" name="id" value="<%= post.blog_id %>">
                        <button class="deleteButton" type="submit">Delete</button>
                    </form>
                <% } %>
            </div>
            <hr>
        <% }) %>
    <% } %>

</body>
</html>